[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
django = ">=2.2.10"

[packages]
django = "==2.2.21"
markdown = "*"
faker = "*"
django-pure-pagination = "*"
django-haystack = "*"
elasticsearch = ">=2,<3"
gunicorn = "*"

[requires]
python_version = "3.7"
